.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}
:is(.webcam, .canvas) {
  position: absolute;
  inset: 0;
  margin: 0 auto;
  text-align: center;
  width: 1280px;
  height: 100%;
}
.webcam {
  z-index: 9;
}
.canvas {
  z-index: 10;
}
.gesture {
  position: absolute;
  z-index: 11;
}
